html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgb(88, 3, 3);
}
p{
    font-size: 30px;
    color: #ffffff;
}
input:hover{
    background-color: rgb(30, 30, 30);
}
input {
    border-radius: 10px;
    border: 2px solid #c4c4c4;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin: 10px auto;
    padding: 20px;
}
.choices{
    padding-bottom: 50px; 
}
.traverse input{
    height: 50px;
    width: 120px;
    padding: 10px;
    margin: 10px;
    float: left;
}
#question{
    margin: auto;
    padding: 20px;
    margin-top: 100px;;
}
#question_text,#questions_answered{
    max-width: 600px;
    margin: 30 auto; 
    border: 2px dotted white;
    border-radius: 10px;
    padding: 5px;
    font-size: 35px;
    background: black;
    display: block;
    margin: 0 auto;
}
#QandA{
    height: 650px;
    width: 1000px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-left:10px;
    overflow: auto;
    border-radius: 10px;
    background-size: cover;
    float: left;
}
#endgame{
    display: none;
    margin: 0 auto;
    margin-top: 240px;
}
.initial h1{
    font-size: 50px;
    color: #ffffff;
}
h2{
    margin: 10px;
}
.rules{
    font-size: 30px;
    color: #ffffff;
}
#time,#score_text{
    float: left;
    text-align: left;
    border: 2px solid white;
    border-radius: 10px;
    display: block;
    margin: 10px;;
    padding: 10px;
}
#time{
    width: 250px;
    height: 30px;
    text-align: left;

}
#score_text{
    width: 300px;
    height: 30px;
    text-align: center;
}
body{
    max-width: 1000px;
    margin: 20px;
    min-width: 500px;;
}
#navbar input{
    height: 70px;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    text-align: center;
    font-size: 25px;
}
#navbar{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    margin-left: 90px;
    grid-column-gap: 5px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: auto;
    padding-right: 2.5px;
    padding-left: 2.5px;
    
}
table{
	font-size: 30px;
    border: 3px solid white;
    border-radius: 10px;
	text-align: center;
	float: center;
	width: 300px;
    height: 550px;
    padding: 5px;
    margin: 0px auto;
}
tr{
    margin-bottom: 5px;
}
td{
    font-size: 30px;
    color: white;
	text-align: center;
	border: 3px solid white;
	border-radius: 10px;
	width: 290px;
	height: 50px;
	max-width: 290px;
	max-height: 50px;
	padding: 10px;
}
th{
	border-bottom: 3px dotted white;
    padding: 5px;
    color: white
}
#reset_Scoreboard{
    width: 280px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}
