html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgb(5, 5, 73);
}
p{
    font-size: 30px;
    color: #ffffff;

}
input:hover{
    background-color: rgb(30, 30, 30);
}
input {
    border-radius: 10px;
    border: 2px solid #c4c4c4;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    position: center;
    resize: horizontal;
    display: block;
    margin: 10px auto;
    padding: 20px;
}
.choices{
    padding-bottom: 50px; 
}
.traverse input{
    height: 50px;
    width: 120px;
    padding: 10px;
    margin: 10px;
    float: left;
}
#question_text{
    margin: 30 auto; 
    border: 2px dotted white;
    border-radius: 10px;
}
#QandA{
    /*margin:*/ 
    height: 600px;
    max-width: 1000px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-left:10px;
    overflow: auto;
    border-radius: 10px;
}
#endgame{
    display: none;
    margin: 0 auto;
    margin-top: 240px;
}
.initial h1{
    font-size: 50px;
    color: #ffffff;
}
.rules{
    font-size: 30px;
    color: #ffffff;
}
#time,#score_text{
    float: left;
    text-align: left;
    border: 2px solid white;
    border-radius: 10px;
    display: block;
}
#time{
    width: 250px;
    height: 30px;
    padding: 10px;
    text-align: left;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px auto;

}
#score_text{
    width: 250px;
    height: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
body{
    max-width: 1000px;
    margin: 20px;
    min-width: 500px;;
}
#navbar input{
    height: 70px;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    text-align: center;
}
#navbar{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-left: 90px;
    grid-column-gap: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: auto;
    padding-right: 2.5px;
    padding-left: 2.5px;
    
}
table{
	font-size: 30px;
    border: 3px solid white;
    border-radius: 10px;
	text-align: center;
	float: center;
	width: 300px;
	height: 450px;
    max-width: 290px;
    margin: 10px;
}
td{
    font-size: 30px;
    color: white;
	text-align: center;
	border: 3px solid white;
	border-radius: 10px;
	width: 290px;
	height: 50px;
	max-width: 290px;
	max-height: 50px;
	padding: 10px;
	margin: 6px;
}
th{
	border-bottom: 3px dotted white;
    padding: 5px;
    color: white
}
